<nb-card size="giant" class="" [ngClass]="{'vh-75':mobileReSize, 'card-height': !mobileReSize}" [nbSpinner]="isLoading">
  <nb-card-body>
    <div class="row" [ngClass]="{ 'mt-5': !mobileReSize}">
      <div class="col-xl-3 col-lg-5 col-md-6 mx-auto col-12 border border_radius box">
        <app-profile-list>
        </app-profile-list>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-around" *ngIf="dataList">
      <div class="d-flex">
        <nb-icon icon="close-outline" class="me-2 text-danger"></nb-icon>
        <p class="m-0">{{dataList?.notInterested?.length || '0' }}</p>
      </div>
      <div class="d-flex">
        <nb-icon icon="star-outline" class="me-2 text-primary"></nb-icon>
        <p class="m-0">{{dataList?.shortlisted?.length || '0' }}</p>
      </div>
      <div class="d-flex">
        <nb-icon icon="heart-outline" class="me-2 text-success"></nb-icon>
        <p class="m-0">{{dataList?.interested?.length || '0' }}</p>
      </div>
    </div>
  </nb-card-footer>
</nb-card>